@model IEnumerable<CuoiKy.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/style.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/MakeColor/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/MakeColor/css/responsive.css">
</head>

<div class="box-container">

    <h2 style="text-align: center">Các đơn hàng đã thanh toán</h2>

    <table class="table">
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Ngày giao
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    <a href="/ChiTietDonHangs/Index?maDH=@item.MaDH">Chi tiết đơn hàng</a>
                </td>
                <td>
                    @if (item.TinhTrang != "Đã nhận hàng")
                    {
                        using (Html.BeginForm("DaNhanHang", "DonHangs", new { @maDH = item.MaDH }))
                        {
                            <input type="submit" value="Đã nhận hàng" class="btn btn-success" />
                        }
                    }
                </td>
            </tr>
        }

    </table>

</div>
<style>
    .box-container {
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, .5);
        background: rgba(255,255,255, .8);
    }
    .footer-20192 {
        bottom: 0;
    }
</style>